*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,img{
    margin: 10px;
}
p{
    padding: 5px ;
}
.container{
    margin: 0px auto 0px auto;
    width: 1000px;
}
.header{
    display: flex;
    background-color: darkgray;
    color: beige;
    justify-content: space-around;
    padding: 10px;
}
.header ul{
    background: rgb(53, 53, 53);
    display: flex;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}
.header ul li{
    list-style-type: none;
    padding-right: 10px;
}
.header ul li a{
    text-decoration: none;
    color: beige;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    color: beige;
}
.section1{
    display: flex;
}
.section1-div1{
    flex: 1;
}
.section1-div2{
    flex: 1;
}
.section1-div3{
    flex: 1;
}
.section2{
    border-bottom: 2px black dotted;
    padding: 10px 0 10px 0;
    margin: 20px 0 20px 0;
}
.section3{
    display: flex;
}
.section1-div1-1{
    display: flex;
}
.section1-div1-2{
    display: flex;
}
.section1-div1-3{
    display: flex;
}
.footer{
    padding: 10px;
}
@media screen and (max-width: 600px) {
 .header{
     flex-direction: column;
 }
 .section1{
     flex-direction: column;
 }
 .section3{
     flex-direction: column;
 }
 .header ul{
    flex-direction: column;
}

}